@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+HR+Lijeva&display=swap");

body {
      background-color: #f5fcff;
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.container {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.row {
      display: flex;
}

.cell {
      width: 60px;
      height: 60px;
      border: 1px solid black;
      text-align: center;
      font-size: 2em;
      line-height: 30px;
      box-sizing: border-box;
      position: relative;
}

.number {
      margin-top: 0.5em;
}

input {
      color: #e10e9b;
}

input[type="text"] {
      caret-color: black;
}

.buttonContainer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.buttonContainer button {
      margin-right: 10px;
      font-size: 1.5rem;
      font-family: "Dancing Script", cursive;
}

button:hover {
      background-color: #ffdfb3;
}

#solvedNumbers {
      margin: 1rem;
      visibility: hidden;
}

.result {
      margin-top: 20px;
      font-weight: bold;
}

.lightBackground {
      background-color: #ffdfb3;
}

.darkBackground {
      background-color: #f5957d;
}

.correct {
      color: yellow;
}

.incorrect {
      color: purple;
}

.solvedCell {
      background-color: #7c0d0d;
      color: #f7ef02;
}

.solved {
      background-color: #f7ef02;
      color: #7c0d0d;
}
